* {
	box-sizing: border-box;
	padding: 0;
	max-width: 1000px;
  	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}